<nav class="navbar bg-primary">
  <div class="d-flex">
    <i style="font-size: 40px;color: white; cursor:pointer" class="fas fa-shipping-fast">&nbsp;
      <strong style="font-size:30px;color: white; " routerLink="products">Flipkart</strong></i>
    <div class="form-group">
      <input type="text" class="form-control" placeholder="search products">
      <span class="fas fa-search search-icon"></span>
    </div>

  </div>

  <button type="button" class="btn login" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Login</button>

  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Login form</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form class="row g-3 needs-validation was-validated" novalidate="">
            <div class="mb-3">
              <div class="input-group has-validation">
                <label for="exampleInputEmail1" class="form-label">Email address</label>
                <input type="email" class="form-control inpt" id="exampleInputEmail1" aria-describedby="emailHelp"
                  required>
                <div class="invalid-tooltip">
                  Please provide a valid email.
                </div>
              </div>
            </div>
            <div class="mb-3">
              <div class="input-group has-validation">
                <label for="exampleInputPassword1" class="form-label">Password</label>
                <input type="password" class="form-control inpt" id="exampleInputPassword1" required>
                <div class="invalid-tooltip">
                  Please provide a valid password.
                </div>
              </div>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>

  <button class="btn btn-primary" style="margin: 2px 15px 0px 0px;" routerLink="cart">
    <i style="font-size: 22px;" class="fas fa-cart-plus"></i>
    <div style="font-size: 10px;" class="badge bg-danger">{{totalItem}}</div>
  </button>

</nav>